In [5]:
import pandas as pd 
import scipy 
import numpy

In [4]:
## Read in the data 

log_returns = pd.read_excel('Returns.xlsx', sheet_name = 'No_Nulls_Log_Returns')

banks_data = pd.read_excel('Returns.xlsx', sheet_name= 'Banks_Data')

,Unnamed: 0,rssdid,year,FedDistrict,ShortName,Assets2170r,permco,ticker,dPublic,bank_meanAssets
0,0,1025309,2006,12,bank of hi corp,11.393465,589,BOH,1,12.613256
1,1,1025309,2007,12,bank of hi corp,10.849381,589,BOH,1,12.613256
2,2,1025309,2008,12,bank of hi corp,10.975214,589,BOH,1,12.613256
3,3,1025309,2009,12,bank of hi corp,12.473489,589,BOH,1,12.613256
4,4,1025309,2010,12,bank of hi corp,13.063506,589,BOH,1,12.613256
...,...,...,...,...,...,...,...,...,...,...
682,682,3853449,2012,7,principal fncl grp,152.608700,42285,PFG,1,152.608700
683,683,4028712,2012,6,bankunited,11.663796,53647,BKU,1,16.312181
684,684,4028712,2013,6,bankunited,14.011647,53647,BKU,1,16.312181
685,685,4028712,2014,6,bankunited,17.680928,53647,BKU,1,16.312181
686,686,4028712,2015,6,bankunited,21.892355,53647,BKU,1,16.312181